.header{
	grid-area: h;
	background-color: rgb(206, 209, 206);
	display: flex;
	justify-content: start;
	align-items: center;


	
	}
.img {
		width: 90px;
		height: 90px;
		border-radius: 50%;
		margin-left: 20px;
		
	}
